.table-bet-slip {
    margin: 0.5rem;
    border-spacing: 0 1px;
    width: fit-content;
}

.bet-slip-title {
    border-top-left-radius: 0.25rem;
    font-size: 1.15rem;
    text-align: left;
    width: 100%;
}

.bet-slip-clear-all {
    border-top-right-radius: 0.25rem;
}

.bet-slip-offer-name {
    text-align: left;
}

.stake-input {
    border-radius: 0.25rem;
    width: 78%;
    margin-left: 2%;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.payment-button {
    color: rgb(12, 15, 175);
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    padding: 8px 16px;
    width: 16%;
    margin-left: 2%;
    margin-right: 2%;
}

.bet-slip-total-count {
    padding-left: 0.75rem;
    color: rgb(12, 15, 175);
    font-weight: bold;
}

input:focus {
    outline: none;
}