.table-betSlip {
    margin: 0.5rem;
    border-spacing: 0 1px;
    width: fit-content;
}

.betSlip-title {
    border-top-left-radius: 0.25rem;
    font-size: 1.15rem;
    text-align: left;
}

.betSlip-clearAll {
    border-top-right-radius: 0.25rem;
    cursor: pointer;
    text-align: left;
}

.betSlip-game {
    text-align: left;
    width: 100%;
}

.betSlip-offerName {
    text-align: left;
}

.button-deleteGame {
    color: rgb(12, 15, 175);
    border: none;
    border-radius: 0.75rem;
    width: fit-content;
}

.td-deleteGame {
    width: fit-content;
}

.button-deleteGame:hover {
    background-color: rgb(236, 117, 117);
    color: white;
}

.stake-input {
    border-radius: 0.25rem;
    width: 78%;
    margin-left: 2%;
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
    padding: 8px 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.payment-button {
    color: rgb(12, 15, 175);
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    padding: 8px 16px;
    width: 16%;
    margin-left: 2%;
    margin-right: 2%;
}

.betSlip-total-count {
    padding-left: 0.75rem;
}

input:focus {
    outline: none;
}