* {
    box-sizing: border-box;
}
  
body {
  margin: 0;
  background-color: rgb(188, 199, 233);
}

.container {
  margin: 2rem;
  margin-top: 1rem;
}

.grid-home{
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

.grid-offers{
  padding: 0.2rem;
  background-color: #cad2ec;
  border-radius: 0.5rem;
}

.grid-betSlip{
  padding: 0.2rem;
  border-radius: 0.5rem;
  background-color: #cad2ec;;
  height:fit-content;
}

th, td {
  text-align: center;
  padding: 0.25rem;
}

th {
  padding: 0.5rem;
  color: white;
  background-color: rgb(24, 77, 190);
  font-weight: normal;
}

tr{
  background-color: #c0c3df;
}