.login-form {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.login-input {
  margin-left: 10px;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 8rem;
}

.login-button {
  color: white;
  background-color: transparent;
  font-size: 1.25rem;
  padding-right: 0.25rem;
  border: none;
}

.logout-button {
  color: white;
  background-color: transparent;
  font-size: 1.25rem;
  border: none;
}

.register-button {
  color: white;
  background-color: transparent;
  font-size: 1.25rem;
  padding-right: 0.25rem;
  border: none;
}

.submit-message {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.loggedUser-firstname {
  padding-top: 0.5rem;
  padding-right: 1rem;
}

.loggedUser-balance {
  width: fit-content;
  text-align: center;
  font-size: 1rem;
  border: none;
  border-radius: 4px; 
  padding-right: 0.5rem;
}

.add-balance {
  background-color: rgb(9, 62, 175);
  font-size: 0.75rem;
  border-color: white;
  color: white;
  border-radius: 2px;
  border-width: 1px;
  margin-bottom: -1rem;
  margin-left: -0.5rem;
}