body {
  background-color: rgb(188, 199, 233);
}

.table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1rem;
}

th,
td {
  text-align: center;
  padding: 2px;
}

th {
  background-color: rgb(150, 156, 199);
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #c0c3df;
}

tr:nth-child(even) {
  background-color: #cad2ec;
}

.table_title {
  text-align: left;
}

.table_game {
  text-align: left;
  width: 40%;
}

.table_statistics {
  width: 3%;
}

.table_time {
  max-width: 2rem;
  width: 6%;
}


.table_tip {
  width: 3%;
}

.table_tv {
  width: 3%;
}

